<div class="container-fluid p-3">
    <div class="row text-center">
        <div class="col-12">
            <p>Contact us <a href="mailto:yellyurlshortener@gmail.com" style="color: #554DDB;">Yelly Support</a></p>
        </div>
    </div>
</div>